@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Josefin+Sans:ital,wght@0,700;1,700&family=Montserrat:wght@700&family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;700&family=Tenor+Sans&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    background: #f5f5f5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tiny-font-size: 12.0px;
    --tiny-line-height: 16px;
    --small-font-size: 16.0px;
    --small-line-height: 21px;
    --regular-font-size: 16.0px;
    --regular-line-height: 21px;
    --big-font-size: 16.0px;
    --big-line-height: 21px;
    --huge-font-size: 24.0px;
    --huge-line-height: 32px;
}
.container{
    display: flex;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;

    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background: #fff;
    gap: 150px;
    z-index: 1000;
}


.fb h2{
    color: #0165E1;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    flex-grow: 2;
    font-weight: bold;
}

header .search-bar{
    width: 100%;
    height: 40px;
    background: #efefef;
    border-radius: 30px;
    padding: 0 10px;
    margin-left: 10px;
    left: 15px;
    font-size: 15px;
    color: #919191;
    flex-grow: .5;

    
}

header .search-bar i{
    line-height: 40px;
    font-size: 19px;
    color: #919191;
    margin-right: 5px;
    
}



header .right-nav{
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-grow: 2;
    align-content: center;
    
}

header .right-nav i{
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #efefef;
   line-height: 35px;
   padding-left: 8px;
   font-size: 18px;
   margin-left: 8px;
   cursor: pointer;
}



header .right-nav i:hover{
    color: #45abff;
    cursor: pointer;
}

header .right-nav img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    align-items: center;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
 }




/* -------------main------------- */

.main{
    display: flex;
    background: #f5f5f5;
}

/* --------------main left side------------- */
.main .left{
    width: 23%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 20px 6px 5px 10px;
    position: fixed;
}

.main .left::-webkit-scrollbar{
    width: 7px;

}
.main .left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .left:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .left .img{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(--small-font-size);

}

.main .left .img:hover{
    background: #e3e3e3;
    border-radius: 12px;
    width: 100%;

}

.main .left .icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(--small-font-size);

}

.main .left .icon:hover{
    background: #e3e3e3;
    border-radius: 12px;
    width: 100%;

}

.main .left .img img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 10px 10px;
}

.main .left .icon img{
    width: 20px;
    height: 20px;
    object-position: center;
    margin: 8px 20px 8px 12px;
}

.main .left .icon i{
    padding-right: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    object-position: center;
    margin: 8px 20px 10px 10px;
    
}

.main .left hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0 ;
}
/* --------------main center ------------- */

.main .center{
    width: 50%;
    height: auto;
    padding: 20px 20px 0 20px;
    background: #fff;
    margin-left: 25%;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0 0 0 / 0.2);

}

.main .center::-webkit-scrollbar{
    width: 0;
}


.main .center .top_box .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(--regular-font-size);
    gap: 150px;
}

.main .center .top_box .buttons .button1{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(--regular-font-size);
}

.main .center .top_box .buttons .button2{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(--regular-font-size);
}

.main .center .top_box .buttons .button1 i{
    padding-right: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    object-position: center;
    margin: 8px 10px 10px 10px;
}   

.main .center .top_box .buttons .button2 i{
    padding-right: 10px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    object-position: center;
    margin: 8px 10px 10px 10px;
}   

.main .center .top_box .cards{
    width: 100%;
    height: 260px;
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
}

.main .center .top_box .my_story_card{
    width: 145px;
    height: 240px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0  1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}
.main .center .top_box .my_story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .center hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px 0 ;
}
.main .center .top_box .my_story_card .story_upload{
    width: 100%;
    height: 60px;
    background: #fff;
    position: relative;
    bottom: 60px;
    cursor: pointer;
}

.main .center .top_box .my_story_card .story_upload img{
    width: 35px;
    height: 35px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
}
.main .center .top_box .my_story_card .story_upload .story_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.main .center .top_box .story_card{
    width: 145px;
    height: 240px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0  1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}
.main .center .top_box .story_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .center .top_box .story_card .story_profile{
    position: relative;
    bottom: 235px;
    margin-left: 12px;
}

.main .center .top_box .story_card .story_profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #45abff;
}

.main .center .top_box .story_card .story_profile .circle{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #26c235;
    border: 2.8px solid #fff;
    position: relative;
    bottom: 18px;
    left: 28px;
}

.main .center .top_box .story_card .story_name{
    position: relative;
    bottom: 95px;
    padding: 0 10px;

}

.main .center .top_box .story_card .story_name .name{
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    
}
